<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orchids List</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="container">
    <div class="cf-title-01">
      <h1>Orchids List</h1>
    </div>
    <button type="button" class="btn btn-custom add-orchid-btn" data-toggle="modal" data-target="#addOrchidModal">
      Add Orchid
    </button>

    <!-- Orchids Table -->
    <table class="table">
      <thead>
        <tr class="table=column">
          <th class="image-column">Image</th>
          <th class="name-column">Name</th>
          <th class="price-column">Price</th>
          <th class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% orchids.forEach((orchid, index)=> { %>
          <tr>
            <td class="table-cell orchid-image-column">
              <figure class="orchid-image-container">
                <img class="orchid-image" src="<%= orchid.image %>" alt="<%= orchid.name %> Image">
              </figure>
            </td>
            <td class="table-cell orchid-name-column">
              <%= orchid.name %>
            </td>
            <td class="table-cell orchid-price-column">
              <%= orchid.price %>
            </td>

            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle actions-btn" type="button" data-toggle="dropdown"
                  aria-expanded="false" data-index="<%= index %>">

                </button>
                <div class="dropdown-menu" data-index="<%= index %>">
                  <a href="/orchids/edit/<%= orchid._id %>" class="dropdown-item">Edit</a>
                  <a href="/orchids/delete/<%= orchid._id %>" class="dropdown-item"
                    onclick="return confirmDelete()">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <button onclick="scrollToTop()" class="back-to-top-btn" title="Go to top">
      Up
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addOrchidModal" tabindex="-1" role="dialog" aria-labelledby="addOrchidModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Add Form  -->
          <form method="post" onsubmit="return validateForm();" name="addProductForm">
            <div class="py-1">
              <div class="mx-auto max-w-screen-sm rounded-lg border bg-card text-card-foreground shadow-sm"
                data-v0-t="card">
                <div class="flex flex-col space-y-1.5 p-4">
                  <h3 class="text-2xl font-semibold whitespace-nowrap leading-none tracking-tight">Add
                    Product</h3>
                  <p class="text-sm text-muted-foreground">Add the product details in the form below
                    and click Add Product.
                  </p>
                </div>
                <div class="p-6">
                  <div class="grid w-full items-center gap-4">
                    <div class="space-y-2">
                      <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="name">
                        Name
                      </label>
                      <input
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        name="name" placeholder="Enter product name" />
                    </div>
                    <div class="space-y-2">
                      <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="image">
                        Image URL
                      </label>
                      <input
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        name="image" placeholder="Enter image URL" />
                    </div>
                    <div class="grid w-full grid-cols-2 gap-4">
                      <div class="space-y-2">
                        <label
                          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                          for="price">
                          Price
                        </label>
                        <input type="number"
                          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                          name="price" placeholder="Enter product price" step="0.01" />

                      </div>
                      <div class="space-y-2">
                        <label
                          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                          for="original">
                          Original
                        </label>
                        <input type="text"
                          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                          name="original" id="originalInput" placeholder="Enter original"
                          oninput="this.value = this.value.replace(/[0-9]/g, '')" />
                      </div>
                    </div>
                    <div class="space-y-2">
                      <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="is-natural">
                        Is Natural
                      </label>
                      <div class="flex items-center space-x-4">
                        <div>
                          <input type="radio" id="true" class="form-radio h-4 w-4 text-gray-600" name="isNatural"
                            value="true" />
                          <label for="true" class="ml-2">
                            True
                          </label>
                        </div>
                        <div>
                          <input type="radio" id="false" class="form-radio h-4 w-4 text-gray-600" name="isNatural"
                            value="false" />
                          <label for="false" class="ml-2">
                            False
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="space-y-2">
                      <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="color">
                        Color
                      </label>
                      <input type="text"
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        name="color" id="colorInput" placeholder="Enter product color"
                        oninput="this.value = this.value.replace(/[0-9]/g, '')" />
                    </div>
                  </div>
                  <div class="flex items-center pt-6">
                    <button
                      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-primary/90 h-10 px-4 py-2"
                      type="submit">
                      Add Product
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function confirmDelete() { return confirm("Bạn có muốn xóa không?"); }</script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function validateForm() {
      var name = document.forms["addProductForm"]["name"].value;
      var image = document.forms["addProductForm"]["image"].value;
      var price = document.forms["addProductForm"]["price"].value;
      var original = document.forms["addProductForm"]["original"].value;
      var color = document.forms["addProductForm"]["color"].value;

      if (name == "" || image == "" || price == "" || original == "" || color == "") {
        alert("Please fill out all fields");
        return false;
      }
    }
  </script>
  <script>

    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    }
  </script>

  <script>
    $(document).ready(function () {
      $(".actions-btn").click(function () {
        var index = $(this).data("index");
        $(".dropdown-menu").hide();
        $(".dropdown-menu[data-index=" + index + "]").toggle();
      });

      $(document).click(function (event) {
        if (!$(event.target).closest(".dropdown").length) {
          $(".dropdown-menu").hide();
        }
      });
    });
  </script>
</body>

</html>